@media(max-width: 900px){
    .popular_categories{
        flex-direction: column;
        gap:2rem;
    }
    .image_container{
        width: 100% !important;
    }
    .image_container:hover > .sub {
        transform: translateY(0)!important;
    }
    .image_container:before {

      width: 300%!important;
      height: 300%!important;
        background-size: 100% 20rem!important;
    }
    .quote{
        flex-direction: column;
        height: auto!important;
    }

    .quote > img {
        width: 100% !important;
    }
    .aside{
        margin-top: 1rem;
        width: 100% !important;
        border-left: none!important;
        border-top: 3px solid var(--primary-black);
        padding: 5% 5%;
        text-align: center;
    }
    .circle_img {
        margin: 0 auto!important;
      width: 150px!important;
      height: 150px!important;
    }
    .list{
        flex-direction: column;
        gap:2rem;
    }
    .sub{
        opacity: 1!important;
        height: 5rem;
        position: absolute;
        width: 100%;
        bottom:0;
    }
    .feedback{
        flex-direction: column;
        gap: 1rem;
    }
    .bg{
        width: 100% !important;
    }
}

span{
    color: var(--secondary-purple)!important;
}
.center_block{
    text-align: center;
    margin-top: 2rem;
}
.popular_categories{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.image_container {
  width: 30%;
  height: 20rem;
  overflow: hidden;
  box-shadow: 0 2px 4px var(--primary-black);
  position: relative;
    transition: 300ms;
    filter: blur(0);

}
.hovered {
    filter: blur(3px);
}
.image_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image_container:hover{
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}
.image_container:hover > .sub {
    transform: translateY(-5rem);
    opacity: 1;
    cursor: pointer;
}
.image_container:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
    background: linear-gradient(var(--accent-bright-yellow), transparent ) no-repeat;
    animation: rayAnimation 3s infinite linear;
    background-size: 100% 15rem;
}

.image_container:hover:before {
  opacity: 1;
  animation: rayAnimation 3s linear infinite;
}

@keyframes rayAnimation {
  0% {
    transform: translate(-25%, -25%) rotate(0deg);
  }
  100% {
    transform: translate(-25%, -25%) rotate(360deg);
  }
}
.sub{
    color: var(--accent-bright-yellow);
    text-align: center;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    height: 5rem;
    background: linear-gradient(to top, rgba(128, 128, 128, 1), rgba(128, 128, 128, 0));
}
.quote{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    height: 20rem;
    overflow: hidden;
    position: relative;
}

.quote > img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 4px var(--primary-black);
}

.aside{
    width: 35%;
    display: flex;
    align-items: center;
    border-left: 3px solid var(--primary-black);
    padding: 5% 5%;
    text-align: center;
}

.circle_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
    box-shadow: 0 2px 4px var(--primary-black);
}

.circle_img:hover{
    cursor: pointer;
}

.circle_img > img {
    height: 100%;
    object-fit: cover;
}
.list{
    display: flex;
    justify-content: space-between;
}
.companyName{
    margin-top: 1rem;
}




.video_container {
      position: relative;
      width: 50%;
      height: 300px;
      overflow: hidden;
    }

.video_container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s;
}

.video_container:hover::before {
    opacity: 1;
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--accent-bright-yellow);
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.video_container:hover .text {
    transform: translateY(0);
}

.feedback{
    margin: 2rem 0;
    justify-content: space-between;
    display: flex;
}
@keyframes bg-color {
    from{
        background-color: #d06002;
        background-image:
            radial-gradient(at 47% 33%, hsl(55.36, 94%, 54%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(79.71, 91%, 55.00000000000001%) 0, transparent 55%);
    }
    to{
        background-color: #054575;
        background-image:
            radial-gradient(at 47% 33%, hsl(55.36, 94%, 54%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(79.71, 91%, 55.00000000000001%) 0, transparent 55%);
    }
}
@keyframes bg-color-reverse {
    from{
        background-color: #054575;
        background-image:
            radial-gradient(at 47% 33%, hsl(55.36, 94%, 54%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(79.71, 91%, 55.00000000000001%) 0, transparent 55%);
    }
    to{
        background-color: #d06002;
        background-image:
            radial-gradient(at 47% 33%, hsl(55.36, 94%, 54%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(79.71, 91%, 55.00000000000001%) 0, transparent 55%);
    }
}
.bg {
    display: flex;
    align-items: center;
    position: relative;
    transform: skewX(10deg);
    transition: 300ms;
    width: 30%;
    height:20rem;
    border-radius: 1rem;
    background-color: #d06002;
        background-image:
            radial-gradient(at 47% 33%, hsl(55.36, 94%, 54%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(79.71, 91%, 55.00000000000001%) 0, transparent 55%);
}
.bg:hover{
    animation-name: bg-color;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: not-allowed;
    transform: skewX(0);
}
.bg:hover .card{
    transform: skewX(0) scale(1.1);
}
.bg:not(:hover){
    animation-name: bg-color-reverse;
    animation-duration: 1s;
}

.name{
    text-align: center;
}

.card {
    transition: 300ms;
    transform: skewX(-10deg);
    padding: 0.5rem;
    width:85%;
    margin: 0 auto;
    color:var(--primary-white);
    backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.32);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
